body {
  margin: 0 0 0 0;
  background-color: white;
  width: 100%;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5px;
}

header .down {
  position: absolute;
  top: -190px;
  right: 390px;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border: 1px solid white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  z-index: 10px;
}

header .down h1 {
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
}

header .down h1 a:visited, header .down h1 a:link {
  text-decoration: none;
  color: black;
}

header .down h1:hover {
  border: 1px solid #ccc;
}

header .drop {
  padding: 0px 0px 30px 0;
}

header .drop span {
  position: relative;
  top: 15px;
}

header .drop i {
  position: relative;
  top: 15px;
}

header .drop:hover .down {
  display: block;
  -webkit-transform: translateY(253px);
          transform: translateY(253px);
  border: 1px solid #ceab12;
}

header img {
  width: 50px;
  height: 50px;
  margin: 0 16px 0 16px;
  position: relative;
  top: 10px;
}

header .head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  direction: row;
  padding: 10px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head .fa-sort-down:before {
  content: "\f0d7";
  position: relative;
  right: 10px;
  padding-left: 5px;
  margin: 0;
}

header span, header button, header a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 20px;
  margin: 0 7px 0 16px;
}

header span :visited, header button :visited, header a :visited {
  text-decoration: none;
  color: transparent;
}

header span :link, header button :link, header a :link {
  text-decoration: none;
}

header span {
  position: relative;
  top: 10px;
}

header button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #ceab12;
  padding: 9px 34px;
  border-radius: 4px;
  border: none;
}

header button :visited {
  color: white;
}

#sec1 {
  background-color: lightcoral;
  height: 100vh;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-image: url("/octava/IMG_20190420_182109_Bokeh.jpg");
}

#sec1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sec1 div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 8.8px;
  height: 1.2;
  width: 1100px;
  text-align: center;
  color: white;
}

#sec1 div p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: white;
  text-align: center;
  width: 1083px;
}

#steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#steps div {
  padding: 112px 48px 112px 48px;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#steps div:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#steps .step1 {
  background-color: #a49060;
}

#steps .step2 {
  background-color: #6e8a1c;
}

#steps .step3 {
  background-color: #127b96;
}

#steps .step4 {
  background-color: #a16619;
}

#steps i {
  width: 96px;
  font-size: 96px;
  color: white;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#steps h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

#steps p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  height: 1.6;
  color: white;
}

#sec3 {
  background-color: #f7eee2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 50px 0;
  background-image: url(/octava/backgr.jpg);
  background-size: cover;
}

#sec3 .head .fresh {
  color: #ceab12;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  margin-top: 35px;
}

#sec3 .head h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
}

#sec3 .head p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

#sec3 .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec3 .store p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}

#sec3 .store div {
  width: 237px;
  height: 339px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

#sec3 .store h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

#sec3 .store i {
  background-color: #e3b375;
  width: 60px;
  font-size: 60px;
  padding: 40px;
  border-radius: 100px;
  color: white;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#sec3 .store .store1:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#sec3 .store .store3:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#sec3 .store .store2:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#sec3 .store .store4:hover i {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#people {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#people .text {
  text-align: center;
}

#people .text .fresh {
  color: #ceab12;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  margin-top: 35px;
}

#people .text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
}

#people .text p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

#people .rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#people .rec img {
  width: 80px;
  border-radius: 50%;
}

#people .rec div {
  width: 285px;
  height: 285px;
  padding: 40px 30px 40px 30px;
  margin: 16px;
  background-color: #f5f6fb;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#people .rec div:hover {
  -webkit-box-shadow: 5px 5px 8px  #ccc;
          box-shadow: 5px 5px 8px  #ccc;
}

#people .rec div .p1 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
}

#people .rec div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#people .rec div .p2 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #8b8b99;
  font-style: Italic;
}

#follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background-color: white;
}

#follow .left {
  display: inline-block;
  width: 67%;
}

#follow .left img {
  width: 100%;
}

#follow .right {
  text-align: center;
  display: inline-block;
  width: 33%;
  margin: 0;
  background-image: url(/octava/follow.jpg);
  background-position: left;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

#follow .right .textw {
  margin: 115px;
}

#follow .right .textw h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0 0 8px;
}

#follow .right .textw p {
  color: #8b8b99;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

#follow .right .textw .email {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  background-color: white;
  padding: 12px;
  font-size: 16px;
  margin-top: 60px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#follow .right .textw .email:focus, #follow .right .textw .email:hover {
  -webkit-box-shadow: 5px 5px 8px  #ccc;
          box-shadow: 5px 5px 8px  #ccc;
}

#follow .right .btn {
  background-color: #ceab12;
  padding: 16px 42px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 16px;
}

#follow .right .btn:focus, #follow .right .email:focus {
  outline: none;
}

#stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  padding-bottom: 100px;
  padding-top: 100px;
}

#stat div {
  padding-left: 64px;
  padding-right: 64px;
}

#stat div h1 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
}

#stat div p {
  color: #ceab12;
  font-style: italic;
  margin: 0;
}

#video {
  background-color: white;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#video .vid11 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#video .vid22 {
  height: 350px;
}

#video .vid1, #video .vid2 {
  display: inline-block;
  width: 40%;
}

#video h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #8b8b99;
}

#video video {
  width: 70%;
  position: relative;
  margin-bottom: 50px;
}

#video .line {
  width: 96px;
  height: 1px;
  background-color: #e4b476;
  margin: 16px;
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#adress {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

#adress .contact, #adress .meet {
  display: inline-block;
  padding-left: 2.5%;
}

#adress .contact {
  width: 40%;
}

#adress .meet {
  width: 50%;
}

#adress .green {
  color: #ceab12;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin: 0;
  margin-top: 35px;
}

#adress h1 {
  font-size: 44px;
}

#adress h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 32px;
}

#adress p {
  font-size: 16px;
  weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;
}

#adress form {
  font-family: 'Poppins', sans-serif;
}

#adress input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  color: #8b8b99;
  border-radius: 6px;
  border: 1px solid #e5e6ec;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#adress input:focus {
  outline: none;
}

#adress .btn {
  color: white;
  background-color: #ceab12;
  padding: 9px 34px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
  width: 35%;
  font-weight: 600;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}

html {
  scroll-behavior: smooth;
}

.upper {
  position: fixed;
  width: 50px;
  height: 50px;
  display: inline-block;
  bottom: 40px;
  right: 40px;
  text-align: center;
  font-size: 30px;
}

.upper .up {
  border: 1px solid #ceab12;
  background-color: #ceab12;
  background-image: url(/octava/up.jpg);
  background-size: cover;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.upper .up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.upper .up i {
  color: #9c8311;
  rotate: -50deg;
  position: relative;
  top: 18px;
  left: 10px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

@media (max-width: 900px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    width: 100%;
  }
  header .head {
    width: 100%;
  }
  header .head .drop {
    display: none;
  }
  header .head span {
    display: none;
  }
  header .head button {
    margin: 0;
  }
  #sec1 {
    width: 100%;
  }
  #sec1 h1 {
    font-size: 28px;
  }
  #sec1 p {
    width: 100%;
  }
  #steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
